/tools/build/VERSION
/tools/build/*/
/tools/build/geotoad-*
/tools/build/geotoad_*
/tools/build/md5sums.*
/tools/build/Packages.*
*-v
.idea/

# Mac
.DS_Store

# Mongodb
DB_GEOTOAD/

# created gpx files
*.gpx

# own export env helper
export.sh
