/tools/build/VERSION
/tools/build/*/
/tools/build/geotoad-*
/tools/build/geotoad_*
/tools/build/md5sums.*
/tools/build/Packages.*

# Mac
.DS_Store

# Mongodb
DB_GEOTOAD/

# created gpx files
*.gpx

# intellij/rubymine
.idea/*
.idea/misc.xml
